*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    color: #333;
  }
  
  .signupBtn{
    height: 50px;
    width: 100px;
    padding: 0.3rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .signupBtn:hover{
    color: orange;
    background-color: white;
    border: 1px solid orange;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid green;
    /* text-align: center; */
  }
  header h1{
    font-size: 40px;
  }
  header p{
    opacity: 0.5;
  }
  header div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
 nav{
  display: flex;
 }
 .logo{
    height: 100px;
    width: 100px;
    cursor: pointer;
  }
.container{    
    display: flex;
    justify-content: center;
    gap: 7rem;
}
.map{
    border: 2px solid black;
    padding: 1.5rem;
}
polygon{
    cursor: pointer;
}
button{
    padding: 1rem;
    cursor: pointer;
}
.show-state{
    padding: 3rem;
}
div{
    font-size: 30px;
}
