*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    color: #333;
  }
  
  .signupBtn{
    height: 50px;
    width: 100px;
    padding: 0.3rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .signupBtn:hover{
    color: orange;
    background-color: white;
    border: 1px solid orange;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid green;
    /* text-align: center; */
  }
  header h1{
    font-size: 40px;
  }
  header p{
    opacity: 0.5;
  }
  header div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
 nav{
  display: flex;
 }
 .logo{
    height: 100px;
    width: 100px;
    cursor: pointer;
  }

  img {
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }



.container{    
    display: flex;
    /* justify-content: space-evenly; */
    /* gap: 7rem; */
}
.map{
    border-right: 2px solid green;
    padding: 1.5rem;
}
polygon{
    cursor: pointer;
}
button{
    padding: 1rem;
    cursor: pointer;
}
.show-state{
    padding: 3rem;
}


.sidebar {
    width: 35%;
    /* padding: 15px; */
    height: 850px;
    padding: 2rem;
    box-sizing: border-box;
    /* background: #f5f5f5; */
    overflow-y: auto;
    font-size: 24px;
    border-right: 2px solid green;
  }
  .state-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    padding: 4px 8px;
    margin: 3px 0;
    border-radius: 4px;
  }
  
  .state-item button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: red;
    font-size: 24px;

  }
  
  #tooltip {
    position: absolute;
    background: white;
    color: black;
    padding: .5rem;
    border-radius: 4px;
    font-size: 18px;
    pointer-events: none;
    display: none;
  }
  #playBtn,#clearBtn{
    height:150px;
    width: 150px;
    padding: 0.3rem;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  #playBtn:hover{
    color: green;
    background-color: white;
    border: 1px solid green;
  }
  #clearBtn:hover{
    color: red;
    background-color: white;
    border: 1px solid red;
  }
  .title{
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 23px;
    border-bottom: 2px solid green;
  }
  footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 2px solid green;
  }

  .btn-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: 10rem;
    align-items: center;
  }

