<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<description>
		</description>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.mapfinder.filters.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/home</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.SignUpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.SignInServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogOutServlet</display-name>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.LogOutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServlet</display-name>
		<servlet-name>SessionServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.SessionServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServlet</servlet-name>
		<url-pattern>/checksession</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>signin</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
