<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<description>
		</description>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.mapfinder.filters.AuthFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>UserLoggingFilter</display-name>
		<filter-name>UserLoggingFilter</filter-name>
		<filter-class>com.mapfinder.filters.UserLoggingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/home</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserLoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>SignUpServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.SignUpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.SignInServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogOutServlet</display-name>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.LogOutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServlet</display-name>
		<servlet-name>SessionServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.SessionServlet</servlet-class>
	</servlet>
	<servlet>

		<display-name>DashboardServlet</display-name>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.DashboardServlet</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>LeaderboardServlet</display-name>
		<servlet-name>LeaderboardServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.LeaderboardServlet</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>FriendRequestServlet</display-name>
		<servlet-name>FriendRequestServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.FriendRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>GamemodeServlet</display-name>
		<servlet-name>GamemodeServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.GamemodeServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ErrorStateServlet</display-name>
		<servlet-name>ErrorStateServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.ErrorStateServlet</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>AttemptServlet</display-name>
		<servlet-name>AttemptServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.AttemptServlet</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>ChallengeServlet</display-name>
		<servlet-name>ChallengeServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.ChallengeServlet</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>NotificationServlet</display-name>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>com.mapfinder.controller.NotificationServlet</servlet-class>
	</servlet>
	
	

	
	<servlet-mapping>
		<servlet-name>SignUpServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServlet</servlet-name>
		<url-pattern>/checksession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeaderboardServlet</servlet-name>
		<url-pattern>/leaderboard/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendRequestServlet</servlet-name>
		<url-pattern>/friendrequest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GamemodeServlet</servlet-name>
		<url-pattern>/gamemode/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorStateServlet</servlet-name>
		<url-pattern>/errorstates/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AttemptServlet</servlet-name>
		<url-pattern>/attempt/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ChallengeServlet</servlet-name>
		<url-pattern>/challenge/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/notifications/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>signin</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
